<a href="https://colab.research.google.com/github/mlfa19/assignments/blob/master/Module%201/07/Assignment_07_Companion_Pytorch_Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import gdown
import pandas as pd

gdown.download('https://drive.google.com/uc?authuser=0&id=1XIFiL3WxxR6M2nWgADi3xWvuRO6A-Ov8&export=download', 'titanic_train.csv', False)
df = pd.read_csv('titanic_train.csv')
df

Downloading...
From: https://drive.google.com/uc?authuser=0&id=1XIFiL3WxxR6M2nWgADi3xWvuRO6A-Ov8&export=download
To: /content/titanic_train.csv
100%|██████████| 61.2k/61.2k [00:00<00:00, 15.2MB/s]

     PassengerId  Survived  Pclass  ...      Fare        Cabin  Embarked
0              1         0       3  ...    7.2500          NaN         S
1              2         1       1  ...   71.2833          C85         C
2              3         1       3  ...    7.9250          NaN         S
3              4         1       1  ...   53.1000         C123         S
4              5         0       3  ...    8.0500          NaN         S
5              6         0       3  ...    8.4583          NaN         Q
6              7         0       1  ...   51.8625          E46         S
7              8         0       3  ...   21.0750          NaN         S
8              9         1       3  ...   11.1333          NaN         S
9             10         1       2  ...   30.0708          NaN         C
10            11         1       3  ...   16.7000           G6         S
11            12         1       1  ...   26.5500         C103         S
12            13         0       3  ...    8.0500          NaN         S
13            14         0       3  ...   31.2750          NaN         S
14            15         0       3  ...    7.8542          NaN         S
15            16         1       2  ...   16.0000          NaN         S
16            17         0       3  ...   29.1250          NaN         Q
17            18         1       2  ...   13.0000          NaN         S
18            19         0       3  ...   18.0000          NaN         S
19            20         1       3  ...    7.2250          NaN         C
20            21         0       2  ...   26.0000          NaN         S
21            22         1       2  ...   13.0000          D56         S
22            23         1       3  ...    8.0292          NaN         Q
23            24         1       1  ...   35.5000           A6         S
24            25         0       3  ...   21.0750          NaN         S
25            26         1       3  ...   31.3875          NaN         S
26            27         0       3  ...    7.2250          NaN         C
27            28         0       1  ...  263.0000  C23 C25 C27         S
28            29         1       3  ...    7.8792          NaN         Q
29            30         0       3  ...    7.8958          NaN         S
..           ...       ...     ...  ...       ...          ...       ...
861          862         0       2  ...   11.5000          NaN         S
862          863         1       1  ...   25.9292          D17         S
863          864         0       3  ...   69.5500          NaN         S
864          865         0       2  ...   13.0000          NaN         S
865          866         1       2  ...   13.0000          NaN         S
866          867         1       2  ...   13.8583          NaN         C
867          868         0       1  ...   50.4958          A24         S
868          869         0       3  ...    9.5000          NaN         S
869          870         1       3  ...   11.1333          NaN         S
870          871         0       3  ...    7.8958          NaN         S
871          872         1       1  ...   52.5542          D35         S
872          873         0       1  ...    5.0000  B51 B53 B55         S
873          874         0       3  ...    9.0000          NaN         S
874          875         1       2  ...   24.0000          NaN         C
875          876         1       3  ...    7.2250          NaN         C
876          877         0       3  ...    9.8458          NaN         S
877          878         0       3  ...    7.8958          NaN         S
878          879         0       3  ...    7.8958          NaN         S
879          880         1       1  ...   83.1583          C50         C
880          881         1       2  ...   26.0000          NaN         S
881          882         0       3  ...    7.8958          NaN         S
882          883         0       3  ...   10.5167          NaN         S
883          884         0       2  ...   10.5000          NaN         S
884          885         0       3  ...    7.0500          NaN         S
885          886         0       3  ...   29.1250          NaN         Q
886          887         0       2  ...   13.0000          NaN         S
887          888         1       1  ...   30.0000          B42         S
888          889         0       3  ...   23.4500          NaN         S
889          890         1       1  ...   30.0000         C148         C
890          891         0       3  ...    7.7500          NaN         Q

[891 rows x 12 columns]

In [0]:
# get rid of null values for age since this is just an illustrative example.
# this would not be a good thing to do if we were trying to evalutate the 
# performance of a model.
df_filtered = df[['Age', 'Sex', 'Survived']].dropna()
experiment_1_data = pd.concat((pd.get_dummies(df_filtered['Sex'], drop_first=True), df_filtered['Age']), axis=1)
experiment_1_outputs = df_filtered['Survived']

In [40]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', penalty='none') # setting solve silences annoying warning
model.fit(experiment_1_data, experiment_1_outputs)
print("coefs", model.coef_)
print("intercept", model.intercept_)

coefs [[-2.46592015 -0.0054259 ]]
intercept [1.27727321]

In [0]:
from torch import nn
import torch

class LogisticRegressionPT(nn.Module):
    def __init__(self):
        super(LogisticRegressionPT, self).__init__()
        self.linear = nn.Linear(2,1)

    def forward(self, X):
        X = self.linear(X)
        return torch.sigmoid(X)

In [14]:
import numpy as np
from torch.autograd import Variable

model_PT = LogisticRegressionPT()
model_PT.cuda()
optimizer = torch.optim.Adam(model_PT.parameters())
criterion = torch.nn.BCELoss()

X_data = Variable(torch.cuda.FloatTensor(np.array(experiment_1_data)))
y_data = Variable(torch.cuda.FloatTensor(np.array(experiment_1_outputs)))
for epoch in range(10000):
    model_PT.train()
    optimizer.zero_grad()
    # Forward pass
    y_pred = model_PT(X_data)
    # Compute Loss
    loss = criterion(y_pred, y_data)
    # Backward pass
    loss.backward()
    if epoch % 500 == 0:
        for name, param in model_PT.named_parameters():
            if param.requires_grad:
                print(name, "value", param.data, "gradient", param.grad)
    optimizer.step()

/usr/local/lib/python3.6/dist-packages/torch/nn/modules/loss.py:512: UserWarning: Using a target size (torch.Size([714])) that is different to the input size (torch.Size([714, 1])) is deprecated. Please ensure they have the same size.
  return F.binary_cross_entropy(input, target, weight=self.weight, reduction=self.reduction)

linear.weight value tensor([[ 0.2613, -0.2141]], device='cuda:0') gradient tensor([[ -0.1161, -11.3806]], device='cuda:0')
linear.bias value tensor([-0.6172], device='cuda:0') gradient tensor([-0.3827], device='cuda:0')
linear.weight value tensor([[ 0.0518, -0.0029]], device='cuda:0') gradient tensor([[ 0.1188, -0.1035]], device='cuda:0')
linear.bias value tensor([-0.4003], device='cuda:0') gradient tensor([-0.0174], device='cuda:0')
linear.weight value tensor([[-0.4224,  0.0038]], device='cuda:0') gradient tensor([[ 0.0896, -0.0340]], device='cuda:0')
linear.bias value tensor([-0.3283], device='cuda:0') gradient tensor([-0.0238], device='cuda:0')
linear.weight value tensor([[-0.8165,  0.0072]], device='cuda:0') gradient tensor([[ 0.0671, -0.0103]], device='cuda:0')
linear.bias value tensor([-0.2008], device='cuda:0') gradient tensor([-0.0262], device='cuda:0')
linear.weight value tensor([[-1.1570,  0.0082]], device='cuda:0') gradient tensor([[ 0.0495, -0.0002]], device='cuda:0')
linear.bias value tensor([-0.0254], device='cuda:0') gradient tensor([-0.0253], device='cuda:0')
linear.weight value tensor([[-1.4530,  0.0075]], device='cuda:0') gradient tensor([[0.0357, 0.0036]], device='cuda:0')
linear.bias value tensor([0.1810], device='cuda:0') gradient tensor([-0.0222], device='cuda:0')
linear.weight value tensor([[-1.7081,  0.0059]], device='cuda:0') gradient tensor([[0.0250, 0.0044]], device='cuda:0')
linear.bias value tensor([0.3994], device='cuda:0') gradient tensor([-0.0181], device='cuda:0')
linear.weight value tensor([[-1.9236,  0.0037]], device='cuda:0') gradient tensor([[0.0168, 0.0039]], device='cuda:0')
linear.bias value tensor([0.6124], device='cuda:0') gradient tensor([-0.0137], device='cuda:0')
linear.weight value tensor([[-2.0995e+00,  1.3090e-03]], device='cuda:0') gradient tensor([[0.0107, 0.0030]], device='cuda:0')
linear.bias value tensor([0.8061], device='cuda:0') gradient tensor([-0.0097], device='cuda:0')
linear.weight value tensor([[-2.2363e+00, -8.8327e-04]], device='cuda:0') gradient tensor([[0.0064, 0.0020]], device='cuda:0')
linear.bias value tensor([0.9703], device='cuda:0') gradient tensor([-0.0063], device='cuda:0')
linear.weight value tensor([[-2.3357, -0.0027]], device='cuda:0') gradient tensor([[0.0035, 0.0012]], device='cuda:0')
linear.bias value tensor([1.0980], device='cuda:0') gradient tensor([-0.0036], device='cuda:0')
linear.weight value tensor([[-2.4013, -0.0040]], device='cuda:0') gradient tensor([[0.0017, 0.0006]], device='cuda:0')
linear.bias value tensor([1.1866], device='cuda:0') gradient tensor([-0.0018], device='cuda:0')
linear.weight value tensor([[-2.4391, -0.0048]], device='cuda:0') gradient tensor([[0.0007, 0.0003]], device='cuda:0')
linear.bias value tensor([1.2393], device='cuda:0') gradient tensor([-0.0008], device='cuda:0')
linear.weight value tensor([[-2.4572, -0.0052]], device='cuda:0') gradient tensor([[2.1955e-04, 8.8722e-05]], device='cuda:0')
linear.bias value tensor([1.2649], device='cuda:0') gradient tensor([-0.0002], device='cuda:0')
linear.weight value tensor([[-2.4639, -0.0054]], device='cuda:0') gradient tensor([[5.1699e-05, 2.0921e-05]], device='cuda:0')
linear.bias value tensor([1.2743], device='cuda:0') gradient tensor([-5.8692e-05], device='cuda:0')
linear.weight value tensor([[-2.4656, -0.0054]], device='cuda:0') gradient tensor([[7.9491e-06, 1.7583e-06]], device='cuda:0')
linear.bias value tensor([1.2768], device='cuda:0') gradient tensor([-9.1223e-06], device='cuda:0')
linear.weight value tensor([[-2.4659, -0.0054]], device='cuda:0') gradient tensor([[6.6869e-07, 2.9802e-08]], device='cuda:0')
linear.bias value tensor([1.2772], device='cuda:0') gradient tensor([-8.8196e-07], device='cuda:0')
linear.weight value tensor([[-2.4659, -0.0054]], device='cuda:0') gradient tensor([[4.4471e-07, 1.7881e-07]], device='cuda:0')
linear.bias value tensor([1.2773], device='cuda:0') gradient tensor([-1.7416e-07], device='cuda:0')
linear.weight value tensor([[-2.4659, -0.0054]], device='cuda:0') gradient tensor([[3.4645e-07, 2.9802e-07]], device='cuda:0')
linear.bias value tensor([1.2773], device='cuda:0') gradient tensor([-1.2573e-07], device='cuda:0')
linear.weight value tensor([[-2.4659, -0.0054]], device='cuda:0') gradient tensor([[2.6962e-07, 8.9407e-08]], device='cuda:0')
linear.bias value tensor([1.2773], device='cuda:0') gradient tensor([-1.0338e-07], device='cuda:0')

In [47]:
sample_point = X_data[0].cpu().detach().numpy()
sample_output = y_data[0].cpu().numpy()

optimizer.zero_grad()
y0 = model_PT(X_data[0])
loss = criterion(y0, y_data[0])
loss.backward()
print([p.grad for p in model_PT.linear.parameters()])

[tensor([[0.2128, 4.6820]], device='cuda:0'), tensor([0.2128], device='cuda:0')]

/usr/local/lib/python3.6/dist-packages/torch/nn/modules/loss.py:512: UserWarning: Using a target size (torch.Size([])) that is different to the input size (torch.Size([1])) is deprecated. Please ensure they have the same size.
  return F.binary_cross_entropy(input, target, weight=self.weight, reduction=self.reduction)

In [50]:
s = model.coef_.dot(sample_point)+model.intercept_
z = 1/(1+np.exp(-s))
print("gradient based on the maths!!", -(sample_output - z)*sample_point)

gradient based on the maths!! [0.21281891 4.68201593]